body {
  background-color: #ccdad1;
}

.collapsible {
  background-color: black;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: black;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #8cbb9d;
}

.topnav {
  background-color: black;
}

a {
  color: #ccdad1;
}

p {
  padding-right: 50px;
  background-color: #ccdad1;
  color: black;
  font-size: 50px;
  border-style:ridge;
  border-width: 10px;
}
